*
!.gitignore
!.htaccess
!wp-content
!wp-content/languages
!wp-content/languages/**
!wp-content/themes
!wp-content/themes/vossps_km
!wp-content/themes/vossps_km/**
!wp-content/plugins
!wp-content/plugins/disable-delete-post-or-page-link-wordpress-plugin
!wp-content/plugins/disable-delete-post-or-page-link-wordpress-plugin/**