{% if about_school %}
	<section class="o_skole content_typo" id="obecne_o_skole">
		<h1><span class="heading_icon" aria-hidden="true"><svg><use xlink:href="#icon-building"></use></svg></span>Obecně o škole</h1>

		{{ about_school }}

	</section>
{% endif %}