<aside class="main_sidebar" role="complementary">

	<nav class="main_sidebar__nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="main_sidebar__nav__ul">
			<li class="main_sidebar__nav__ul__item is-stredoskolske">
				<a href="" itemprop="name url">
					<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
						<svg><use xlink:href="#icon-books"></use></svg>
					</div>
					<span>Středoškolské studium</span>
				</a>
			</li>
			<li class="main_sidebar__nav__ul__item is-vyssi">
				<a href="" itemprop="name url">
					<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
						<svg><use xlink:href="#icon-graduation"></use></svg>
					</div>
					<span>Vyšší odborné studium</span>
				</a>
			</li>
			<li class="main_sidebar__nav__ul__item is-dalsi">
				<a href="" itemprop="name url">
					<div class="main_sidebar__nav__ul__item__icon" aria-hidden="true">
						<svg><use xlink:href="#icon-presentation"></use></svg>
					</div>
					<span>Další vzdělávání</span>
				</a>
			</li>
		</ul>
	</nav>

</aside>